<div class="w-full flex justify-between items-center p-3 border-b border-gray-200 pb-2">
  <!-- Logo -->
  <img class="w-9 h-9" src="logo.svg" alt="Marketplace Logo" />
  <!-- Products Button -->
  <a class="flex items-center p-2 rounded-lg bg-[#F5EAEA] cursor-pointer active:translate-y-2 duration-200
    ease-in-out transition" routerLink="/products" aria-label="Access product list page">
    <img class="mr-2 w-4 h-4" src="package.svg" alt="" aria-hidden="true" />
    <span class="text-[#F24D0D] text-sm font-medium">Products</span>
  </a>
  <!-- New Product Button and Avatar Container -->
  <div class="flex items-center">
    <!-- New Product Button -->
    <a class="flex items-center p-2 rounded-lg bg-[#F24D0D] cursor-pointer mr-3 active:translate-y-2 duration-200
    ease-in-out transition" routerLink="/new-product" aria-label="Add new product">
      <img class="mr-2 w-4 h-4" src="plus-sign.svg" alt="" aria-hidden="true" />
      <span class="text-white text-sm">New Product</span>
    </a>
    <!-- Avatar -->
    <img src="user-avatar.svg" alt="User Avatar" />
  </div>
</div>
